<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>COVIDProb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/materialize.min.css' %}">
</head>
<header>
     <nav style="background-color: #EC5050;">
    <div class="nav-wrapper">
      <a class="brand-logo center"
      href="/"
      style="font-size:24px;font-weight: 599;">COVIDProb</a>
      
    </div>
  </nav>
</header>
<style>
  label{
    font-size: 15px;
  }
</style>
<body>

  {% block content %}
  
  {% endblock %}
  
  <footer class="container">
      <h6 class="justify-text" style="font-size: 11px;margin-top: 50px;"><b>Note: </b>
        This app uses Machine Learning to find the COVID19 estimation. Don't solely rely on these results.
        Please consult medical specialists if you are having any serious problems.
      </h6>
    <center><img onClick="window.location.href='https://bit.ly/Covid19-Probability'" style="width: 55px;" src="{% static 'img/output-onlinepngtools.png' %}"  ></center>
  </footer>
</body>
</html>